<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qe.qzin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".QZinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity
            android:name=".activities.AuthActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="qzineat"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.PERMISSIONS"
            android:value="email"/>

        <activity android:name=".activities.SignUpActivity">
        </activity>
        <activity
            android:name=".activities.HostActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.HostedEventsActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.EventDetailActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeFullScreen">
        </activity>
        <activity
            android:name=".activities.UpdateProfileActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.RegisteredEventsActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
    </application>

</manifest>